{% extends 'layouts/base.html' %}

{% block PageContent %}





<style>
    tr img {
        width: 50px;
    }

    body {
        color: #black;
        background: #f5f5f5;
        font-family: 'Varela Round', sans-serif;
        font-size: 14px;
    }

    .table-responsive {
        margin: 75px 0;
    }

    .table-wrapper {
        min-width: 1000px;
        background: #fff;
        padding: 20px 25px;
        border-radius: 3px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    }

    .table-title {
        padding-bottom: 15px;
        background: black;
        color: #fff;
        padding: 16px 30px;
        margin: -20px -25px 10px;
        border-radius: 3px 3px 0 0;
    }

    .table-title h2 {
        margin: 5px 0 0;
        font-size: 24px;
    }

    .table-title .btn {
        color: #566787;
        float: right;
        font-size: 13px;
        background: #fff;
        border: none;
        min-width: 50px;
        border-radius: 2px;
        border: none;
        outline: none !important;
        margin-left: 10px;
    }

    .table-title .btn:hover,
    .table-title .btn:focus {
        color: #566787;
        background: #f2f2f2;
    }

    .table-title .btn i {
        float: left;
        font-size: 21px;
        margin-right: 5px;
    }

    .table-title .btn span {
        float: left;
        margin-top: 2px;
    }

    table.table tr th,
    table.table tr td {
        border-color: #e9e9e9;
        padding: 12px 15px;
        vertical-align: middle;
    }

    table.table tr th:first-child {
        width: 60px;
    }

    table.table tr th:last-child {
        width: 100px;
    }

    table.table-striped tbody tr:nth-of-type(odd) {
        background-color: #fcfcfc;
    }

    table.table-striped.table-hover tbody tr:hover {
        background: #f5f5f5;
    }

    table.table th i {
        font-size: 13px;
        margin: 0 5px;
        cursor: pointer;
    }

    table.table td:last-child i {
        opacity: 0.9;
        font-size: 22px;
        margin: 0 5px;
    }

    table.table td a {
        font-weight: bold;
        color: #566787;
        display: inline-block;
        text-decoration: none;
    }

    table.table td a:hover {
        color: #2196F3;
    }

    table.table td a.settings {
        color: #2196F3;
    }

    table.table td a.delete {
        color: #F44336;
    }

    table.table td i {
        font-size: 19px;
    }

    table.table .avatar {
        border-radius: 50%;
        vertical-align: middle;
        margin-right: 10px;
    }

    .status {
        font-size: 30px;
        margin: 2px 2px 0 0;
        display: inline-block;
        vertical-align: middle;
        line-height: 10px;
    }

    .text-success {
        color: #10c469;
    }

    .text-info {
        color: #62c9e8;
    }

    .text-warning {
        color: #FFC107;
    }

    .text-danger {
        color: #ff5b5b;
    }

    .pagination {
        float: right;
        margin: 0 0 5px;
    }

    .pagination li a {
        border: none;
        font-size: 13px;
        min-width: 30px;
        min-height: 30px;
        color: #999;
        margin: 0 2px;
        line-height: 30px;
        border-radius: 2px !important;
        text-align: center;
        padding: 0 6px;
    }

    .pagination li a:hover {
        color: #666;
    }

    .pagination li.active a,
    .pagination li.active a.page-link {
        background: #03A9F4;
    }

    .pagination li.active a:hover {
        background: #0397d6;
    }

    .pagination li.disabled i {
        color: #ccc;
    }

    .pagination li i {
        font-size: 16px;
        padding-top: 6px
    }

    .hint-text {
        float: left;
        margin-top: 10px;
        font-size: 13px;
    }

    .display-4 {
        margin: auto;
    }
    .select,
  #locale {
    width: 100%;
  }
  .like {
    margin-right: 10px;
  }
</style>


<script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


<!-- Bootstrap table  -->
<link href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css" rel="stylesheet">
<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css">

<h1 class="display-4" style="text-align: center; padding-bottom: 25px; padding-top: 30px;font-style: ">User Account
    Management </h1>
<!-- <p style="text-align: center; font-weight: bold;">Note for admin: click on <span
        style="text-decoration: underline">user's picture</span>
    to look at <strong>order list.</strong></p> -->





    <div class="container">
        <div class="card-deck" style="margin-bottom:-40px">
            <div class="card" style="width:400px">
                <div class="card-body">
                    <h4 class="card-title" style="text-align:center;"><img style="width: 50px;"
                                                                           src="https://i.ibb.co/wyxkCVy/group.png">
                        <p>Total users</p></h4>
                    <p class="card-text" style="text-align:center;">
                        <div style="text-align: center; font-size: 17px">
                            <span id="total_users"></span>
                </div>
                </p>
            </div>
        </div>
        <div class="card" style="width:400px">
            <div class="card-body">
                <h4 class="card-title" style="text-align:center;"><img style="width: 50px;"
                                                                       src="https://icon-library.com/images/active-icon/active-icon-15.jpg">
                    <p>Active</p></h4>
                <p class="card-text" style="text-align:center;">
                    <div style="text-align: center; font-size: 17px">
                        <span id="active_users"></span>

            </div>
            </p>
        </div>
    </div>




    
    <div class="card" style="width:400px">
        <div class="card-body">
            <h4 class="card-title" style="text-align:center;"><img style="width: 50px;"
                                                                   src="https://cdn.onlinewebfonts.com/svg/img_298493.png">
                <p>Inactive</p></h4>
            <p class="card-text" style="text-align:center;">
                <div style="text-align: center; font-size: 17px">
                    <span id="inactive_users"></span>

        </div>
        </p>
    </div>
    </div>
    </div>
    </div>



<br>
<br>


<hr>

<div id="toolbar">
    <a class="btn btn-primary" href="/staff/accounts/createUsers" role="button">Add new user</a>
    <!-- <button id="button" class="btn btn-danger">remove</button> -->
  </div>
<table

id="table"
data-total-fields = "total"
data-data-fields = "rows"
data-server-sort ="true"
data-toolbar="#toolbar"
data-search="true"
data-show-refresh="true"
data-show-toggle="true"
data-show-fullscreen="true"
data-detail-view="true"
data-detail-formatter="detailFormatter"
data-minimum-count-columns="2"
data-show-pagination-switch="true"
data-side-pagination="server"
data-pagination="true"
data-id-field="id"
data-page-list="[10, 25, 50, 100, all]"
data-show-footer="true"
  data-toggle="table"
  data-url="/staff/accounts/list/data">
  <thead>
    <tr>
        <th data-field="state" data-checkbox="true"></th>
        <th data-field="username" data-sortable="true">Username </th>
        <th data-field="email" data-sortable="true">Email</th>
        <th data-field="dateCreated" data-sortable="true">Date Created</th>
        <th data-field="role" data-sortable="true">Role</th>
        <th data-field="accountStatus" data-sortable="true">Status</th>
        <th data-field="action" data-formatter="actionFormatter">Action</th>




    </tr>
  </thead>
</table>





<script>

var $table = $('#table')
  var $button = $('#button')

  $(function() {
    $button.click(function () {
      var ids = $.map($table.bootstrapTable('getSelections'), function (row) {
        return row.username
      })
      $table.bootstrapTable('remove', {
        field: 'username',
        values: ids
      })
    })


  })


  function detailFormatter(index, row) {
    var html = []
    $.each(row, function (key, value) {
      html.push('<p><b>' + key + ':</b> ' + value + '</p>')
    })
    return html.join('')
  }


  function actionFormatter(index, row ){
      var html = []
      $.each(row, function(key, value) {
          if (key == 'username') {
              html.push('<a class="edit" href="http://localhost:3000/staff/accounts/updateUsers?id=' + value + '" title="edit"><i class="fa fa-edit"></i></a>')
              html.push('<a class="edit" href="http://localhost:3000/staff/accounts/deleteUser?id=' + value + '" title="edit"><i class="fa fa-trash"></i></a>')

          }
          
          
      })
      return html.join("")
  }


  fetch("/staff/accounts/list/data")
    .then(function(resp) {
        return resp.json();
    }) 
    .then(function(data){
        var active_count = 0;
        var inactive_count = 0;
        console.log('here')
        console.log(data)

        for (i = 0; i < data.rows.length; i++) {
            if (data.rows[i].accountStatus == "Active")
            {
                active_count += 1;
            }
            else inactive_count += 1;
        }    style="color:#33b2ff"
        document.getElementById("total_users").innerHTML = "There are currently <span style='color:#33b2ff'>" +  data.total + "</span> users."
        document.getElementById("active_users").innerHTML = "There are currently <span style='color:green'>" +  active_count + "</span> users."
        document.getElementById("inactive_users").innerHTML = "There are currently <span style='color:red'>" +  inactive_count + "</span> users."

        console.log('active count=', active_count);
        console.log('inactive count=', inactive_count);

    })

  </script>






{% endblock %}