{% extends 'layouts/base.html' %}
{% block PageContent %}
{% block title %}Display Orders{% endblock %}
<div class="tab-pane container-fluid " >
<h1 class="display-4 text-center">Cart Information</h1>
<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Product Price</th>
        <th>Quantity</th>
        <th>Total</th>

      </tr>
    </thead>

    <tbody>
      {%for cart in cart_list%}
      <tr>
        <td>{{cart.get_product_id()}}</td>
        <td>{{cart.get_product_name()}}</td>
        <td>${{cart.get_price()}}</td>
        <td>{{cart.get_quantity()}}</td>
        <td>${{cart.get_total()}}</td>


      </tr>
      {% endfor %}

    </tbody>
  </table>

      <table class="table table-striped">
    <thead>
      <tr>
        <th>Discount ID</th>
        <th>Discount</th>
        <th>Amount off</th>
      </tr>
    </thead>

    <tbody>
      {%for d in discounts %}
      <tr>
        <td>{{d.get_id()}}</td>
        <td>
            {% if d.get_type() == "percent" %}
            {{d.get_amount()}} %
            {% else %}
            $ {{d.get_amount()}}
            {% endif %}
        </td>
        <td>${{d.get_remove()}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  #copy starts here
<hr class="my-0">


  <div class="panel-footer ">

                                <div class="row ">
                                    <div class="col">
                                        <div class="row justify-content-between">
                                            <div class="col">
                                                <h3 class="mb-1"><b>Total:</b></h3>
                                            </div>
                                            <div class="flex-sm-col col-auto">
                                                <h3 class="mb-1"><b>${{total}}</b></h3>
                                            </div>
                                        </div>
                                        <div class="row justify-content-between">
                                            <div class="col">
                                                <h3 class="mb-1"><b>Discount total:</b></h3>
                                            </div>
                                            <div class="flex-sm-col col-auto">
                                                <h3 class="mb-1"><b>${{off}}</b></h3>
                                            </div>
                                        </div>
                                        <div class="row justify-content-between">
                                            <div class="col-4">
                                                <h3 class="mb-1"><b>Grand Total:</b></h3>
                                            </div>
                                            <div class="flex-sm-col col-auto">
                                                <h3 class="mb-1"><b> ${{gt}}</b></h3>
                                            </div>
                                        </div>
                                        <hr class="my-0">
                                    </div>
                                </div>

    <div class="text-center">
      <a href="/Purchase_Summary" class="btn btn-primary btn-lg" type="button">Go back</a>
    </div>


  </div>
</div>
{% endblock %}
