{% extends "layouts/base.html" %}
{% block PageContent %}
{% block css %}
<link rel="stylesheet" href="public/css/menustyle.css" />
{% endblock %}
<link href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css" rel="stylesheet">

<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
<script
    src="https://unpkg.com/bootstrap-table@1.18.3/dist/extensions/custom-view/bootstrap-table-custom-view.js"></script>


<!-- product page -->
<section class=" text-center">
    <div class="container">
        <h1>Products we sell </h1>
        <p class="lead text-muted">We sell bread, buns and cakes</p>
    </div>
</section>
<table id="table" data-search="true" data-pagination="true" data-page-size="6" data-show-custom-view="true"
    data-custom-view="customViewFormatter" data-show-custom-view-button="false" >
    <thead>
        <tr>
            <th data-field="pname">Name</th>
            <th data-field="category">category</th>
            <th data-field="price">Price</th>
            <th data-field="stockCount">Stock Count</th>
            <th data-field="description">Description</th>
            <th data-field="picUrl" data-formatter="imageFormatter">Picture</th>
        </tr>
    </thead>
</table>
<template id="profileTemplate">
    <div class="col-4 mt-3">
        <div class="cardcontainer">
            
                    <div class="photo"><img src="%IMAGE%" alt="" class="card-img-top" ></div>
                <div class="content">
                    <h5 class="txt4 text-center">%NAME%</h5>
                    <p class="txt4 text-center">$%PRICE%</p>
                    <p class="txt2">Category: %CATEGORY%</p>
                    <p  class="txt2">Available: %STOCKCOUNT%</p>
                    <p class="txt2" >%DESCRIPTION%</p>
                </div>
                <div class="footer">
                    <p><a id="heart"><span class="like"><i class="fas fa-cart-plus"></i></span></a></p>
                    <p class="txt3"><i class="far fa-clock"></i>10 Minutes Ago </p>
                </div>
         
        </div>
    </div>
</template>

<script>
    $(document).ready(function(){
document.getElementById("heart").onclick = function(){
document.querySelector(".fa-gratipay").style.color = "#E74C3C";
};
});

    $(function () {
        fetch("/staff/displayProduct-data")
            .then(function (resp) {
                return resp.json();
            })
            .then(function (data) {
                var myData = data.rows
                console.log(myData)
                $('#table').bootstrapTable({
                    data: myData
                })
            })

    })
    
    function customViewFormatter(data) {
        var template = $('#profileTemplate').html()
        var view = ''
        $.each(data, function (i, row) {
            view += template.replace('%NAME%', row.pname)
                .replace('%IMAGE%', row.picUrl)
                .replace('%PRICE%', (row.price/100).toFixed(2))
                .replace('%CATEGORY%', row.category)
                .replace('%DESCRIPTION%', row.description)
                .replace('%STOCKCOUNT%', row.stockCount);
        })
        return `<div class="row mx-0">${view}</div>`
    }
</script>
{% endblock %}